<h1>Result</h1>
<% if @exist%>
<% if @english %>
<p>Congrats ! Your score is:</p>
<%= @answer.size %>
<% else %>
<p>Sorry, <%= @answer %> is not an English word.</p>
<% end %>
<% else %>
<p>Sorry, this is not in the letters grid</p>
<% end %>
<br>
<br>
<%= link_to "Play again", new_path  %>
