// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.squared {
  background-color: blue;
  display: inline-flex;
  color: white;
  padding: 16px 16px;
  border-radius: 4px;
  margin: inherit;
  font-size: 24px;
}
